@reference "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "leaflet/dist/leaflet.css";

@layer base {
  body {
    @apply font-sans;
  }
}
.leaflet-left .leaflet-control-zoom {
  top: 150px;
}
